@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section MetaTitleTags
{
    <title>Get A Qoute-Flex Fixes</title>
<meta name="description" content="If you have any query about our services and you want to our best services then feel free to contact us, Thank you.">
<meta name="keywords" content="contact us">
<meta property="og:description" content="If you have any query about our services and you want to our best services then feel free to contact us, Thank you." />
}








<div id='av-layout-grid-1' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells  avia-builder-el-0  el_before_av_sidebar  avia-builder-el-first  container_wrap fullsize'>
    <div class="flex_cell no_margin av_one_half  avia-builder-el-1  el_before_av_cell_one_half  avia-builder-el-first   " style='vertical-align:top; padding:9px;background-color=:white; '>
        <div class='flex_cell_inner'>
		<style>
		
		</style>
		<img src="../img/12.jpeg" style='width:100%;'></img>

        </div>
    </div>
</div>

<div id='av_section_1' class='avia-section main_color avia-section-huge avia-no-border-styling avia-bg-style-scroll  avia-builder-el-4  el_after_av_sidebar  avia-builder-el-last  container_wrap fullsize'>
    <div class='container'>
        <div class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-954'>
                <div class='entry-content-wrapper clearfix'>
                    <div class='flex_column_table av-equal-height-column-flextable' style='margin-top:-200px; margin-bottom:0px; '>
                        <div class="flex_column av_one_third  no_margin flex_column_table_cell av-equal-height-column av-align-top first  avia-builder-el-5  el_before_av_one_third  avia-builder-el-first  " style='padding:40px; border-radius:0px; '></div><div class="flex_column av_one_third  no_margin flex_column_table_cell av-equal-height-column av-align-top   avia-builder-el-6  el_after_av_one_third  el_before_av_one_third  " style='padding:40px; background-color:#379cd6; border-radius:0px; '>
							<span class="av_font_icon avia_animate_when_visible av-icon-style-  avia-icon-pos-center " style="color:#ffffff; border-color:#ffffff;"><span class='av-icon-char' style='font-size:60px;line-height:60px;' aria-hidden='true' data-av_icon='' data-av_iconfont='medical'></span></span>
							<div style='height:20px' class='hr hr-invisible  avia-builder-el-8  el_after_av_font_icon  el_before_av_textblock '><span class='hr-inner '><span class='hr-inner-style'></span></span></div>
                            <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='avia_textblock  av_inherit_color' style='color:#ffffff; ' itemprop="text">
                                    <h4 style="text-align: center;">Contact</h4>
                                    <p style="text-align: center;">Flex Fixes</p>
                                </div>
                            </section>
                            <div style='height:8px' class='hr hr-invisible  avia-builder-el-10  el_after_av_textblock  avia-builder-el-last '><span class='hr-inner '><span class='hr-inner-style'></span></span></div>
                        </div><div class="flex_column av_one_third  no_margin flex_column_table_cell av-equal-height-column av-align-top   avia-builder-el-11  el_after_av_one_third  el_before_av_one_half  " style='padding:40px; border-radius:0px; '></div>
                    </div><!--close column table wrapper. Autoclose:  --><div class="flex_column av_one_half  av-animated-generic bottom-to-top  flex_column_div av-zero-column-padding first  avia-builder-el-12  el_after_av_one_third  el_before_av_one_half  column-top-margin" style='border-radius:0px; '>
                        <div style='padding-bottom:20px;font-size:34px;' class='av-special-heading av-special-heading-h3  blockquote modern-quote  avia-builder-el-13  el_before_av_contact  avia-builder-el-first   av-inherit-size'>
                            <div class='av-subheading av-subheading_above ' style='font-size:15px;'>

                            </div><h3 class='av-special-heading-tag' itemprop="headline">Drop your query</h3><div class='special-heading-border'><div class='special-heading-inner-border'></div></div>
                        </div>
                        <form action="" method="post" 
                              class="avia_ajax_form av-form-labels-hidden   avia-builder-el-14  el_after_av_heading  avia-builder-el-last wpcf7-form" data-avia-form-id="1" data-avia-redirect=''>
                            <fieldset>
                                <p class=' first_form  form_element form_element_half' id='element_avia_1_1'>
                                    <input name="avia_1_1" class="text_input is_empty" type="text" id="avia_1_1" value="" placeholder='Name*' />
                                </p>
                                <p class=' form_element form_element_half' id='element_avia_2_1'>
                                    <input name="avia_2_1" class="text_input is_email" type="mail" id="avia_2_1" value="" placeholder='E-Mail*' />
                                </p>

                                <p class=' form_element form_element_half' id='element_avia_2_5'>
                                    <input name="txtmobileno" class="text_input is_empty" type="number" id="txtmobileno" value="" placeholder='Mobile No*' />
                                </p>


                                <p class=' first_form  form_element form_fullwidth' id='element_avia_3_1'>
                                    <input name="txtlocation" class="text_input is_empty" type="text" id="txtlocation" value="" placeholder='Location*' />
                                </p>
                                <p class=' first_form  form_element form_fullwidth' id='element_avia_4_1'> 
                                <input name="avia_4_1" class="avia_datepicker text_input " type="date" id="avia_4_1" value="" placeholder="Desired time and date*" />
                                    </p>
                                <p class=' first_form  form_element form_fullwidth' id='element_avia_5_1'> 
                                <input name="avia_5_1" class="text_input is_empty" type="text" id="avia_5_1" value="" placeholder='Subject*' />
                                </p>
								<div class="title"><h3>Select a Service</h3></div>
                                <div class="field-inner">
                                    <select class="custom-select-box" name="make">
                                        <option value="Honda">Honda</option>
                                        <option value="Toyota">Toyota</option>
                                        <option value="BMW">BMW</option>
                                        <option value="Benz">Benz</option>
                                        <option value="Benz">Bolwell</option>
                                        <option value="Benz">Bullet</option>
                                        <option value="Benz">Carbontech</option>
                                        <option value="Benz">Nota</option>
                                        <option value="Benz">Kia</option>
                                    </select>
                                </div>
                                <p class=' first_form  form_element form_fullwidth' id='element_avia_6_1'>	 
                                <textarea placeholder='Message*' name="avia_6_1" class="text_area is_empty" cols="40" rows="7" id="avia_6_1"></textarea>
                                    </p>
                                <p class="hidden"><input type="text" name="avia_7_1" class="hidden " id="avia_7_1" value="" />
                                    </p>
                                <p class='' id='element_avia_8_1' style="display:none;">    <span class='value_verifier_label'>3 + 0 = ?</span>    
                                <input name="avia_8_1_verifier" type="hidden" id="avia_8_1_verifier" value="246534354" />
                                <label for="avia_8_1">Please prove that you are human by solving the equation <abbr class="required" title="required">*</abbr></label>
                                <input name="avia_8_1" class="text_input captcha" type="text" id="avia_8_1" value="" />
                                    </p>
                                <p class="form_element "><input type="hidden" value="1" name="avia_generated_form1" />
                                <input type="submit" value="Submit" class="button" data-sending-label="Sending"  id="SendEmail" /></p>
                            </fieldset>
                        </form><div id="ajaxresponse_1" class="ajaxresponse ajaxresponse_1 hidden"></div>
                    </div><div class="flex_column av_one_half  av-animated-generic bottom-to-top  flex_column_div av-zero-column-padding   avia-builder-el-15  el_after_av_one_half  avia-builder-el-last  column-top-margin" style='border-radius:0px; '>
                        <div style='padding-bottom:20px;font-size:34px;' class='av-special-heading av-special-heading-h3  blockquote modern-quote  avia-builder-el-16  el_before_av_textblock  avia-builder-el-first   av-inherit-size'>
                            <div class='av-subheading av-subheading_above ' style='font-size:15px;'>
                                <p>Location</p>
                            </div><h3 class='av-special-heading-tag' itemprop="headline">Where you can find us</h3><div class='special-heading-border'><div class='special-heading-inner-border'></div></div>
                        </div>
                        <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                            <div class='avia_textblock ' itemprop="text">
                                
                                <p>
                                    <strong>info@flexfixes.com</strong><br />
                                    00971-561701913
                                </p>
                                <p><strong>Dubai Office : The Palm Jumeirah</strong></p>
                                <p>Call / WhatsApp : 00971-561701913</p>
                                <p>Service Area</p>
                                <p>1-Flex Fixes in The Palm Jumeirah</p>
                                <p>2-Flex Fixes in Jumeirah Island</p>
                                <p>3-Flex Fixes in Sheikh Zayed Road jumeirah island</p>
                                <p>4-Flex Fixes in Downtown Dubai</p>
                                <p>5-Flex Fixes in Business Bay</p>
                                <p>6-Flex Fixes in Dubai Mall</p>
                                <p>7-Flex Fixes in Marina Dubai</p>
                                <p>8-Flex Fixes in Jumeirah Lakes Towers</p>
                                <p>9-Flex Fixes in Al Barsha Dubai</p>
                                <p>10-Flex Fixes in Motor City Dubai</p>
                                <p>11-Flex Fixes in Remraam Dubai</p>
                                <p>12-Flex Fixes in Arabian Ranch Dubai</p>
                                <p>13-Flex Fixes in Al Nahda Dubai</p>
                                <p>14-Flex Fixes in Sharjah Dubai</p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div><!-- close content main div --> <!-- section close by builder template -->
    </div><!--end builder template-->
</div><!-- close default .container_wrap element -->



<script>

    var jqcontact = $.noConflict();
    jqcontact('#SendEmail').click(function () {
        //if (jqcontact('#avia_8_1').val() == 3)
            saveContactus();
        //else
            //alert('please provide valid captcha.');
    });

    function saveContactus() {
        var str = jqcontact('.wpcf7-form').serialize();
        //alert(str);

        jqcontact.ajax({
            type: "POST",
            url: "/Home/SendEmail",
            //data: {'str':str},
            data: str,
            success: function (msg) {
                // alert(msg);
                if (msg == '1') {
                    alert('Query sent successfully');
                } else {
                    alert(msg);
                }

            }
        });
    }
</script>





