@{
    ViewBag.Title = "Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@section MetaTitleTags
{
    <title>Home - Flex Fixes</title>
    <meta name='keywords' content="gas cooker repair, electric repair, washing machine, washing machine repair, fridge repair service, fridge maintenance, maintenance, home appliances, home appliances repair, home appliance repair services, home appliances maintenance services, electric and gas cooker repair service, all types of maintenance & repair, home appliance repair in dubai, treadmill repair, treadmill repair near me, treadmill belt, treadmill service, treadmill cheap service, treadmill repair in dubai, dryer repair, dryer repair in dubai, gym installation, multi gym repair, treadmill repair shop near me, dish washer repair, dish washer, treadmill installation, treadmill technician near me, treadmill maintenance near me, treadmill repair and service, treadmill board repair, nordick track treadmill repair, lg washing machine repair, Samsung washing machine repair, treadmill oil, running machine repair near me, running machine repair, kitchen equipments repairing" />
    <meta name='description' content="We are the team of the best Home appliances and Gym equipment Technicians in town. we are highly dedicated to providing the best and affordable services at your doorstep." />
    <meta name="facebook-domain-verification" content="cwp9kia1z49irk4gt6w5xkoh95qj26" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <style>
      
   
        .btn-info
        {
            
            height: 50px;
            width: 200px;
            margin-left:50px ;
            margin-right: 30px ;
            margin-bottom: 10px !important;
            font-size: 15px !important;
            color: black !important;
        }
        .badgebox
        {
            opacity: 0;
        }

        .badgebox + .badge
        {
            text-indent: -999999px;
            width: 30px;
            background-color: white;
            
        }
         
        .badgebox:focus + .badge
        {
    
            box-shadow: inset 0px 0px 5px;
        }

        .badgebox:checked + .badge
        {
            text-indent: 0;
            background-color: greenyellow;
        }
        .maincont 
        {
        margin-top: 50px;
        margin-bottom: 50px;

        padding:0 15px 0 15px;
        }
    </style>
    <div class="container maincont ">

        <form action="" method="POST"> 
                <h3 style="   margin-bottom: 10px; text-align: center;font-weight:bold">Select Your Equipment </h3>
                <h3 style="  margin-top: 10px; margin-bottom: 15px; text-align: center; ">Home Appliances & Gym Equipment</h3>

                <div class="checkbox ">
                        <div class="row " style="margin-bottom: 0px !important;">
                            <label  class="btn btn-info  col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block" style="padding-top: 17px;			padding-right:280px !important;">
							<input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Washing Machine </label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;">
							<input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Dryer </label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;">
							<input type="checkbox"class="badgebox"><span class="badge">&check;</span> Dish Washer </label>
                        </div>
                        <div class="row " style="margin-bottom: 0px !important;">
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Fridge</label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Stove</label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Oven</label>
                        </div>
                        <div class="row" style="margin-bottom: 0px !important;">
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Treadmill</label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Elliptical</label>
                            <label  class="btn btn-info col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Exercise Bike</label>
                        </div>
                        <div class="row " style="margin-bottom: 0px !important;">
                            <label  class="btn btn-info  col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Multi gym</label>
                            <label  class="btn btn-info  col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"   class="badgebox"><span class="badge">&check;</span> Rower</label>
                            <label  class="btn btn-info  col-xs-11 col-sm-3 col-md-2 col-lg-3 center-block"style="padding-top: 17px;			padding-right:280px !important;
"> <input type="checkbox"  class="badgebox"><span class="badge">&check;</span> Equipment Service</label>
                        </div> 
                
                </div>
                
                <h3 style="   margin-bottom: 20px; text-align: center; ">Drop Your Details</h3>
                <div class="row " style="   margin-bottom: 0px !important;">
                    
                <div class="form-group  col-xs-11 col-sm-8 col-lg-8 center-block">
                            <input type="text" class="form-control"  placeholder="Name">
                    </div>       
                    <div class="form-group  col-xs-11 col-sm-4 col-lg-4 center-block ">

                            <input type="tel" class="form-control"  placeholder="Mobile">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px !important; " >
                    <div class="form-group  col-xs-11 col-sm-6 col-lg-6 center-block">
                            <input type="email" class="form-control"  placeholder="Email">
                    </div>       
                    <div class="form-group  col-xs-11 col-sm-3 col-lg-3 center-block">

                            <input type="time" class="form-control"  placeholder="Time">
                    </div>
                    <div class="form-group col-xs-11 col-sm-3 col-lg-3 center-block">

                            <input type="date" class="form-control"  placeholder="Date">
                    </div>
                </div>
                <div class="row" style="margin-bottom: 0px !important;">

                        <div class="form-group  col-xs-11 col-sm-12 col-lg-12 center-block">

                            <input type="text" class="form-control"  placeholder="Location">
                        </div>
                </div>
                <div class="row" style="margin-bottom: 0px !important;">
                    <div class="form-group col-xs-11 col-sm-12 col-lg-12 center-block">
                    <textarea  rows="3" style="width: 100%;" placeholder="Complaints"></textarea>
                    </div>
                </div> 
            <button type="submit" class="btn btn-primary " style="width: 250px;height:50px;margin-bottom:10px;margin-left:20px" id="btnsendbookingemail">Send</button>
        </form>
    </div>
