
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_layout.cshtml";
}


@section MetaTitleTags
{
    <title>Refrigerator Reparing</title>
    <meta name="description" content="we are providing best refrigerator repairing services in dubai at very reasonable price.">
    <meta name="keywords" content="refrigerator repair, fridge repairing">
    <meta property="og:description" content="we are providing best refrigerator repairing services in dubai at very reasonable price." />
}




<div class='main_color container_wrap_first container_wrap fullsize'>
    <div class='container'>
        

            <iframe src='/home/newpage/?Name=@TempData["Name"]' style="height:1100px;width:100%;padding:0px !important;margin:0px !important;"></iframe>


        
    </div><!--end builder template-->
</div>