
@{
    ViewBag.Title = "How it works";
    Layout = "~/Views/Shared/_layout.cshtml";
}


@section MetaTitleTags
{
    <title>How Flex Fixes Works</title>
<meta name="description" content="Learn how Flex Fixesworks. Using Flex Fixesis easy, and our process has only four steps.">
<meta name="keywords" content="ceo message">
<meta property="og:description" content="Learn how Flex Fixesworks. Using Flex Fixesis easy, and our process has only four steps." />
}




<div class='main_color container_wrap_first container_wrap fullsize'>
    <div class='container'>
        <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-1526'>
                <div class='entry-content-wrapper clearfix'>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <p><img class="aligncenter size-medium wp-image-1204" src="../wp-content/uploads/2018/07/homeapp3-300x169.jpg" alt="" width="300" height="169" srcset="http://flexfixes.com/wp-content/uploads/2018/07/homeapp3-300x169.jpg 300w, http://flexfixes.com/wp-content/uploads/2018/07/homeapp3-768x432.jpg 768w, http://flexfixes.com/wp-content/uploads/2018/07/homeapp3-1030x580.jpg 1030w, http://flexfixes.com/wp-content/uploads/2018/07/homeapp3-705x397.jpg 705w, http://flexfixes.com/wp-content/uploads/2018/07/homeapp3-450x253.jpg 450w, http://flexfixes.com/wp-content/uploads/2018/07/homeapp3.jpg 1080w" sizes="(max-width: 300px) 100vw, 300px" /></p>
                            <div class="xts-slider-search">
                                <div class="container">
                                    <h1 style="text-align: center;">How it works</h1>
                                    <p style="text-align: center;">Learn how Flex Fixesworks. Using Flex Fixesis easy, and our process has only four steps</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <h2 class="xts-heading-with-icon">1-Search for your required service</h2>
                            <p>Simply type what you’re looking for in the search bar and your city</p>
                            <h2 class="xts-heading-with-icon">2-Select Required Service</h2>
                            <p>Read the details, see the rates, customer reviews, and work history and when you’re ready, select which service you’d like to avail</p>
                            <h2 class="xts-heading-with-icon">3-Book Your Technician</h2>
                            <p>Add any details you’d like us to know and post the job! It’s that easy. Next, we’ll call you to confirm details about your job.</p>
                            <h2 class="xts-heading-with-icon">4-We’ll Call You Within Minutes!</h2>
                            <p>You’ll receive a call from us shortly thereafter. We’ll select the right pro for you and send them to you right away!</p>
                            <h2 class="xts-heading-with-icon">5-Pay After Service Is Complete</h2>
                            <p>In case of proceeding towards repairing the product, the client must agrees the parts and approximate prices with pay 50% in advance and remaining on completion of job, either to buy on their own which will be mentioned on the job card. We are always open to reviews, so we welcome your feedback!</p>
                        </div>
                    </section>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <div class="xts-sp-services-area">
                                <div>
                                    <h2 style="text-align: center;">Services</h2>
                                </div>
                                <div class="xts-left" style="text-align: center;"><strong>Visit to diagnose issue</strong></div>
                            </div>
                            <div class="xts-sp-services-price">
                                <div class="xts-left">
                                    <p style="text-align: center;">Starting from Rs : 300 to 500</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="flex_column av_one_half  flex_column_div av-zero-column-padding first  avia-builder-el-3  el_after_av_textblock  el_before_av_one_half  column-top-margin" style='border-radius:0px; '>
                        <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                            <div class='avia_textblock ' itemprop="text">
                                <div class="xts-sp-services-area"></div>
                                <div class="xts-sp-services-price">
                                    <div class="xts-left">
                                        <p><strong>1-Water pipe issue</strong></p>
                                        <div class="xts-sp-services-price">
                                            <div class="xts-left">
                                                <p>Price On Call</p>
                                            </div>
                                        </div>
                                        <div class="xts-sp-services-area">
                                            <div class="xts-left"><strong>2-Washing Machine Water leakage issue</strong></div>
                                        </div>
                                        <div class="xts-sp-services-price">
                                            <div class="xts-left">
                                                <p>Starting from Rs : 1,000 to 2,000 (Without Parts)</p>
                                                <div class="xts-sp-services-area">
                                                    <div class="xts-left">
                                                        <strong>
                                                            3-Washing Machine &amp; Dryer not working<br />
                                                        </strong>
                                                    </div>
                                                </div>
                                                <div class="xts-sp-services-price">
                                                    <div class="xts-left">
                                                        <p>Starting from Rs : 1,000 to 1,500 (Without Parts)</p>
                                                        <div class="xts-sp-services-area">
                                                            <div class="xts-left"><strong>4-Washing Machine Motor issue</strong></div>
                                                        </div>
                                                        <div class="xts-sp-services-price">
                                                            <div class="xts-left">
                                                                <p>Starting from Rs : 1,000 to 1,500 (Without Parts)</p>
                                                                <div class="xts-sp-services-area">
                                                                    <div class="xts-left"><strong>5-Washing Machine Belt issue</strong></div>
                                                                </div>
                                                                <div class="xts-sp-services-price">
                                                                    <div class="xts-left">
                                                                        <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                                        <div class="xts-sp-services-area">
                                                                            <div class="xts-left"><strong>6-Capacitor issue</strong></div>
                                                                        </div>
                                                                        <div class="xts-sp-services-price">
                                                                            <div class="xts-left">
                                                                                <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                                                <div class="xts-sp-services-area">
                                                                                    <div class="xts-left"><strong>7-Oven No heat issue</strong></div>
                                                                                </div>
                                                                                <div class="xts-sp-services-price">
                                                                                    <div class="xts-left">
                                                                                        <p>Starting from Rs : 1,000 to 1,500 (Without Parts)</p>
                                                                                        <div class="xts-sp-services-area">
                                                                                            <div class="xts-left"><strong>8-Washing &amp; dryer Noisy issue</strong></div>
                                                                                        </div>
                                                                                        <div class="xts-sp-services-price">
                                                                                            <div class="xts-left">
                                                                                                <p>Starting from Rs : 1,000 to 1,500 (Without Parts)</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div><div class="flex_column av_one_half  flex_column_div av-zero-column-padding   avia-builder-el-5  el_after_av_one_half  avia-builder-el-last  column-top-margin" style='border-radius:0px; '>
                        <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                            <div class='avia_textblock ' itemprop="text">
                                <div class="xts-sp-services-area">
                                    <div class="xts-left"><strong>Panel Issue</strong></div>
                                </div>
                                <div class="xts-sp-services-price">
                                    <div class="xts-left">
                                        <p>Starting from Rs : 1,500 (Without Parts)</p>
                                        <div class="xts-sp-services-area">
                                            <div class="xts-left"><strong>Knob/Button Issue</strong></div>
                                        </div>
                                        <div class="xts-sp-services-price">
                                            <div class="xts-left">
                                                <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                <div class="xts-sp-services-area">
                                                    <div class="xts-left"><strong>Washing machine strange sounds or vibrations fixing issue</strong></div>
                                                </div>
                                                <div class="xts-sp-services-price">
                                                    <div class="xts-left">
                                                        <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                        <div class="xts-sp-services-area">
                                                            <div class="xts-left"><strong>Wiring Issue</strong></div>
                                                        </div>
                                                        <div class="xts-sp-services-price">
                                                            <div class="xts-left">
                                                                <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                                <div class="xts-sp-services-area">
                                                                    <div class="xts-left"><strong>Gear Box Issue</strong></div>
                                                                </div>
                                                                <div class="xts-sp-services-price">
                                                                    <div class="xts-left">
                                                                        <p>Starting from Rs : 2,000 (Without Parts)</p>
                                                                        <div class="xts-sp-services-area">
                                                                            <div class="xts-left"><strong>Manual Washing Machine Install</strong></div>
                                                                        </div>
                                                                        <div class="xts-sp-services-price">
                                                                            <div class="xts-left">
                                                                                <p>Starting from Rs : 1,000 (Without Parts)</p>
                                                                                <div class="xts-sp-services-area">
                                                                                    <div class="xts-left"><strong>Automatic Washing Machine Install</strong></div>
                                                                                </div>
                                                                                <div class="xts-sp-services-price">
                                                                                    <div class="xts-left">
                                                                                        <p>Starting from Rs : 2,000 (Without Parts)</p>
                                                                                        <div class="xts-sp-services-area">
                                                                                            <div class="xts-left"><strong>Other issue</strong></div>
                                                                                        </div>
                                                                                        <div class="xts-sp-services-price">
                                                                                            <div class="xts-left">
                                                                                                <p>Starting from Rs : 800 (Without Parts)</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div></p>
                </div>
            </div>
        </main><!-- close content main element --> <!-- section close by builder template -->
    </div><!--end builder template-->
</div><!-- close default .container_wrap element -->	