
@{
    ViewBag.Title = "Oven Repair";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section MetaTitleTags
{
    <title>Oven Repair And Maintenance</title>
<meta name="description" content="Whatever is the Problem with your Oven we are always the No 1 Appliance Repair Company in UAE at your door step.">
<meta name="keywords" content="microvave oven reparing, oven repair in dubai">
<meta property="og:description" content="Whatever is the Problem with your Oven we are always the No 1 Appliance Repair Company in UAE at your door step." />
}




<div class='main_color container_wrap_first container_wrap fullsize'>
    <div class='container'>
        <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-1247'>
                <div class='entry-content-wrapper clearfix'>
                    <div data-size='featured' data-lightbox_size='large' data-animation='slide' data-ids='1792' data-video_counter='0' data-autoplay='false' data-bg_slider='false' data-slide_height='' data-handle='av_slideshow' data-interval='5' data-class=' avia-builder-el-0  el_before_av_textblock  avia-builder-el-first ' data-css_id='' data-scroll_down='' data-control_layout='av-control-default' data-custom_markup='' data-perma_caption='' data-autoplay_stopper='' data-image_attachment='' data-min_height='0px' data-default-height='28.666666666667' class='avia-slideshow avia-slideshow-1  av-control-default av-default-height-applied avia-slideshow-featured av_slideshow  avia-builder-el-0  el_before_av_textblock  avia-builder-el-first  avia-slide-slider ' itemscope="itemscope" itemtype="https://schema.org/ImageObject"><ul class='avia-slideshow-inner' style='padding-bottom: 29.861111111111%;'><li class=' av-single-slide slide-1 '><div data-rel='slideshow-1' class='avia-slide-wrap'><div class="avia-caption av-slideshow-caption"><div class="avia-inner-caption"><h2 class='avia-caption-title' itemprop="name">Microwave Oven Repair & Maintenance</h2></div></div><img src='../wp-content/uploads/2020/02/banner4-1-1440x430.jpg' width='1440' height='430' title='banner4-1' alt='' itemprop="thumbnailUrl" /></div></li></ul></div>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <div class="col-md-6">
                                <div class="summary entry-summary">
                                    <h1 class="shorter" style="text-align: center;"><strong>Microwave Oven </strong>Repair &#038; Maintenance</h1>
                                    <section class="av_textblock_section">
                                        <div class="avia_textblock ">
                                            <p>We repair and service Ovens of all brands. Whatever is the Problem with your Oven we are always the No 1 Appliance Repair Company in UAE, Your appliance is your investment and must be treated with extra care, Flex Fixes will always take care of your Oven and other home appliances in a better way. So give us a call instead of buying a new Oven and save the money for other important things in your life. We work 7 DAYS A WEEK so our expert Oven repair technicians are always ready to take care of your machine at any time or any day of the week.</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <p><span style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" data-mce-type="bookmark" class="mce_SELRES_start">﻿</span></p>
                        </div>
                    </section>
                </div>
            </div>
        </main><!-- close content main element --> <!-- section close by builder template -->
    </div><!--end builder template-->
</div><!-- close default .container_wrap element -->						<div class='container_wrap footer_color' id='footer'>
    <div class='container'>
        <div class='flex_column av_one_third  first el_before_av_one_third'>
            <section id="text-3" class="widget clearfix widget_text">
                <h3 class="widgettitle">Specialized In</h3>			<div class="textwidget">
                    <p>AC Repair &amp; Maintenance</p>
                    <p>Fridge Repair &amp; Maintenance</p>
                    <p>Washing Machine Repair</p>
                    <p>Air Cooler Repair &amp; Maintenance</p>
                </div>
                <span class="seperator extralight-border"></span>
            </section>
        </div><div class='flex_column av_one_third  el_after_av_one_third  el_before_av_one_third '>
            <section id="text-4" class="widget clearfix widget_text">
                <h3 class="widgettitle">Find Us</h3>			<div class="textwidget">
                    <p>
                        <strong>info@flexfixes.com</strong><br />
                        +92 0321 4792084
                    </p>
                    <p>+92 0333 0140080</p>
                    <p><strong>Dubai Office : The Palm Jumeirah</strong></p>
                    <p>Call / WhatsApp : +971 52 182 7431</p>
                </div>
                <span class="seperator extralight-border"></span>
            </section>
        </div><div class='flex_column av_one_third  el_after_av_one_third  el_before_av_one_third '>
            <section id="text-5" class="widget clearfix widget_text">
                <h3 class="widgettitle">We are !</h3>			<div class="textwidget">
                    <p>Mon-Sun 9:00 AM</p>
                    <p>09:00 PM (7 Days)</p>
                    <p><a href="../safety/index.html">Safety</a></p>
                    <p><a href="../terms-and-conditions/index.html">Terms and Conditions</a></p>
                </div>
                <span class="seperator extralight-border"></span>
            </section>
        </div>
    </div>

    <!-- ####### END FOOTER CONTAINER ####### -->
</div>