
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mfn-main-slider" id="mfn-rev-slider">
    @section RevoSlider{
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery" style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
            <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/img/slider/3.jpg" alt="" title="home2 (1)" width="1902" height="1029" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="150" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-8-layer-1"
                             data-x="center" data-hoffset=""
                             data-y="center" data-voffset=""
                             data-width="['auto']"
                             data-height="['auto']"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5; white-space: nowrap; font-size: 40px; line-height: 42px; font-weight: 400; color: #ffffff; letter-spacing: 10px;font-family:Exo;">Developing Solutions for Supreme Functionality</div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption rev-scroll-btn "
                             id="slide-8-layer-6"
                             data-x="599"
                             data-y="345"
                             data-width="['35']"
                             data-height="['55']"
                             data-type="button"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"","ease":"Linear.easeNone"}]'
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 300; color: transparent; letter-spacing: px;font-family:Open Sans;background-color:rgba(0,0,0,0);border-color:rgb(122,194,234);border-style:solid;border-width:3px 3px 3px 3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            <span>
                            </span>
                        </div>
                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-4" data-transition="boxfade,curtain-1" data-slotamount="default,default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default,default" data-easeout="default,default" data-masterspeed="default,default" data-rotate="0,0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="/img/slider/4.jpg" alt="" title="new_york_usa_skyscrapers_evening_120170_1920x1080" width="1920" height="1080" data-bgposition="center center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption   tp-resizeme"
                             id="slide-4-layer-1"
                             data-x="center" data-hoffset="27"
                             data-y="center" data-voffset="21"
                             data-width="['894']"
                             data-height="['34']"
                             data-type="text"
                             data-responsive_offset="on"
                             data-frames='[{"delay":0,"split":"chars","splitdelay":0.1,"speed":3000,"split_direction":"forward","frame":"0","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 5; min-width: 894px; max-width: 894px; max-width: 34px; max-width: 34px; white-space: nowrap; font-size: 31px; line-height: 32px; font-weight: 400; color: #ffffff; letter-spacing: 15px;font-family:Exo;background-color:rgba(0,0,0,0.49);">Designing Websites with real Look</div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption rev-scroll-btn "
                             id="slide-4-layer-3"
                             data-x="586"
                             data-y="367"
                             data-width="['35']"
                             data-height="['55']"
                             data-type="button"
                             data-actions='[{"event":"click","action":"scrollbelow","offset":"px","delay":"","speed":"","ease":"Linear.easeNone"}]'
                             data-responsive_offset="on"
                             data-responsive="off"
                             data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                             data-textAlign="['inherit','inherit','inherit','inherit']"
                             data-paddingtop="[0,0,0,0]"
                             data-paddingright="[0,0,0,0]"
                             data-paddingbottom="[0,0,0,0]"
                             data-paddingleft="[0,0,0,0]"
                             style="z-index: 6; min-width: 35px; max-width: 35px; max-width: 55px; max-width: 55px; white-space: nowrap; font-size: px; line-height: px; font-weight: 300; color: transparent; letter-spacing: px;font-family:Open Sans;background-color:rgba(0,0,0,0);border-color:rgb(122,194,234);border-style:solid;border-width:3px 3px 3px 3px;border-radius:23px 23px 23px 23px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            <span>
                            </span>
                        </div>
                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
            <script>
                var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                if (htmlDiv) {
                    htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                } else {
                    var htmlDiv = document.createElement("div");
                    htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                    document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                }
            </script>
            <script type="text/javascript">
                if (setREVStartSize !== undefined) setREVStartSize(
                    { c: '#rev_slider_1_1', gridwidth: [1240], gridheight: [500], sliderLayout: 'auto' });

                var revapi1,
                    tpj;
                (function () {
                    if (!/loaded|interactive|complete/.test(document.readyState)) document.addEventListener("DOMContentLoaded", onLoad); else onLoad();
                    function onLoad() {
                        if (tpj === undefined) { tpj = jQuery; if ("off" == "on") tpj.noConflict(); }
                        if (tpj("#rev_slider_1_1").revolution == undefined) {
                            revslider_showDoubleJqueryError("#rev_slider_1_1");
                        } else {
                            revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                sliderType: "standard",
                                jsFileLocation: "//treadstone.com.pk/wp-content/plugins/revslider/public/assets/js/",
                                sliderLayout: "auto",
                                dottedOverlay: "none",
                                delay: 9000,
                                navigation: {
                                    onHoverStop: "off",
                                },
                                visibilityLevels: [1240, 1024, 778, 480],
                                gridwidth: 1240,
                                gridheight: 500,
                                lazyType: "none",
                                shadow: 0,
                                spinner: "spinner0",
                                stopLoop: "off",
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: "off",
                                autoHeight: "off",
                                disableProgressBar: "on",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                        }; /* END OF revapi call */

                    }; /* END OF ON LOAD FUNCTION */
                }()); /* END OF WRAPPING FUNCTION */
            </script>
        </div>
        <div id="Subheader" style=""><div class="container"><div class="column one"><h1 class="title">Porftolio</h1><ul class="breadcrumbs no-link"><li><a href="/home/home">Home</a> <span><i class="icon-right-open"></i></span></li><li>Portfolio</li></ul></div></div></div>
    }
</div>



<div id="Content">
    <div class="content_wrapper clearfix">

        <!-- .sections_group -->
        <div class="sections_group">

            <div class="entry-content" itemprop="mainContentOfPage">

                <div class="section the_content has_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper">
                            <div data-elementor-type="post" data-elementor-id="557" class="elementor elementor-557" data-elementor-settings="[]">
                                <div class="elementor-inner">
                                    <div class="elementor-section-wrap">
                                        <section data-id="3ac43fd" class="elementor-element elementor-element-3ac43fd elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section" style="width: 1349px; left: -76.6875px;">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="814e9a2" class="elementor-element elementor-element-814e9a2 animated elementor-column elementor-col-100 elementor-top-column slideInLeft" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;}" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="8eeafca" class="elementor-element elementor-element-8eeafca elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default">Portfolio</h2>
                                                                    </div>
                                                                </div>

                                                                <div data-id="628f405" class="elementor-element elementor-element-628f405 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <div class="elementor-text-editor elementor-clearfix"><p>TechTash offer a wide range of Agency Marketing &amp; web development services. Our services include web design, web development, mobile application, Digital media marketing, SEO &amp; more.</p></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>
                                        <section data-id="e4fda85" class="elementor-element elementor-element-e4fda85 elementor-section-stretched animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section rotateIn" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;animation&quot;:&quot;rotateIn&quot;}" data-element_type="section" style="width: 1349px; left: -76.6875px;">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>GET SMART</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                       <img src="http://techtash.co/img/portfolio/portfolio-4.jpg" />
                                                                    </div>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>NEWBRIDGE PHARMACEUTICALS</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/portfolio/portfolio-5.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>SCHOOL MANAGEMENT SOFTWARE</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/portfolio/portfolio-6.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    


                                                </div>
                                            </div>
                                        </section>

                                        <section data-id="e4fda85" class="elementor-element elementor-element-e4fda85 elementor-section-stretched animated elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section rotateIn" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;animation&quot;:&quot;rotateIn&quot;}" data-element_type="section" style="width: 1349px; left: -76.6875px;">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>BIOMATERIC ATTANDANCE SYSTEM</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/portfolio/portfolio-8.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>VTRACKING AND FLEET MANGEMENT SYSTEM</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/portfolio/portfolio-9.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="108902d" class="elementor-element elementor-element-108902d elementor-column elementor-col-33 elementor-top-column" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="03e7875" class="elementor-element elementor-element-03e7875 elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-text-editor">
                                                                        <h4>SMS SOFTWARE FOR BULK TEXT MESSAGING</h4>
                                                                    </div>
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/portfolio/portfolio-7.jpg" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </section>
                                        <section style="display:none;" data-id="3ac43fd" class="elementor-element elementor-element-3ac43fd elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}" data-element_type="section" style="width: 1349px; left: -76.6875px;">
                                            <div class="elementor-container elementor-column-gap-default">
                                                <div class="elementor-row">
                                                    <div data-id="814e9a2" class="elementor-element elementor-element-814e9a2 animated elementor-column elementor-col-100 elementor-top-column slideInLeft" data-settings="{&quot;animation&quot;:&quot;slideInLeft&quot;}" data-element_type="column">
                                                        <div class="elementor-column-wrap  elementor-element-populated">
                                                            <div class="elementor-widget-wrap">
                                                                <div data-id="8eeafca" class="elementor-element elementor-element-8eeafca elementor-widget elementor-widget-heading" data-element_type="heading.default">
                                                                    <div class="elementor-widget-container">
                                                                        <h2 class="elementor-heading-title elementor-size-default">Our Clients</h2>
                                                                    </div>
                                                                </div>

                                                                <div data-id="628f405" class="elementor-element elementor-element-628f405 elementor-widget elementor-widget-text-editor" data-element_type="text-editor.default">
                                                                    <div class="elementor-widget-container">
                                                                        <img src="http://techtash.co/img/clients/client-1.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-2.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-3.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-4.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-5.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-6.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-7.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-8.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-9.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-10.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-11.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-12.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-13.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-14.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-15.png" style="height:73px;width:160px;" alt="">
                                                                        <img src="http://techtash.co/img/clients/client-16.gif" style="height:73px;width:160px;" alt="">
                                                                        
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>


                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section section-page-footer">
                    <div class="section_wrapper clearfix">

                        <div class="column one page-pager">
                        </div>

                    </div>
                </div>

            </div>


        </div>

        <!-- .four-columns - sidebar -->

    </div>
</div>


