
@{
    ViewBag.Title = "Upright Bike Repair";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@section MetaTitleTags
{
    <title>Upright Bike Repair</title>
<meta name="description" content="Flex Fixes will always take care of your upright bike in a better way. So give us a call instead of buying a new and save the money for other important things in your life.">
<meta name="keywords" content="exercise bike repair, exercise bike service, exercise bike repair and service in Dubai">
<meta property="og:description" content="Flex Fixes will always take care of your upright bike in a better way. So give us a call instead of buying a new and save the money for other important things in your life." />
}




<div class='main_color container_wrap_first container_wrap fullsize'>
    <div class='container'>
        <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-1241'>
                <div class='entry-content-wrapper clearfix'>
                    <div data-size='featured' data-lightbox_size='large' data-animation='slide_up' data-ids='1350' data-video_counter='0' data-autoplay='true' data-bg_slider='false' data-slide_height='' data-handle='av_slideshow' data-interval='5' data-class=' avia-builder-el-0  el_before_av_textblock  avia-builder-el-first ' data-css_id='' data-scroll_down='' data-control_layout='av-control-default' data-custom_markup='' data-perma_caption='' data-autoplay_stopper='' data-image_attachment='' data-min_height='0px' data-default-height='28.666666666667' class='avia-slideshow avia-slideshow-1  av-control-default av-default-height-applied avia-slideshow-featured av_slideshow  avia-builder-el-0  el_before_av_textblock  avia-builder-el-first  avia-slide_up-slider ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                        <ul class='avia-slideshow-inner' style='padding-bottom: 44.791666666667%;'>
                            <li class=' av-single-slide slide-1 '>
                                <div data-rel='slideshow-1' class='avia-slide-wrap'>
                                    <div class="avia-caption av-slideshow-caption">
                                        <div class="avia-inner-caption">
                                           </div>
                                        </div>
                                    </div><img src='/img/upright bike image.png' width='1350' height='450' title='Clothes Iron Repair' alt='' itemprop="thumbnailUrl" />
                                </div>
                            </li>
                        </ul>
                    </div>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <h1 class="shorter" style="text-align: center;">
                                <strong>
                                    Upright Bike Repair<br />
                                </strong>
                            </h1>
                            <p class="aRSPNormal">We repair and service Exercise Bikes of all brands. Whatever is the Problem, we are always the No 1 Repair Company in UAE, Your Exercise bike is your investment and must be treated with extra care, Flex Fixes will always take care of your home appliances and gym equipment in a better way. So give us a call instead of buying a new and save the money for other important things in your life. We work 14 HOURS A DAY 7 DAYS A WEEK so our expert repair technicians are always ready to take care of your machine at any time or any day of the week.</p>
                            <p><span style="display: inline-block; width: 0px; overflow: hidden; line-height: 0;" data-mce-type="bookmark" class="mce_SELRES_start">﻿</span></p>
                        </div>
                    </section>
                </div>
            </div>
        </main><!-- close content main element --> <!-- section close by builder template -->
    </div><!--end builder template-->
</div>