
@{
    ViewBag.Title = "Work With Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class='main_color container_wrap_first container_wrap fullsize'>
    <div class='container'>
        <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-full alpha units'>
            <div class='post-entry post-entry-type-page post-entry-1527'>
                <div class='entry-content-wrapper clearfix'>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <h2 style="text-align: center;">Join Flex Fixes&amp; Get Better  Income</h2>
                        </div>
                    </section>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock  av_inherit_color' style='color:#ffffff; ' itemprop="text">
                            <h1>How it works</h1>
                        </div>
                    </section>
                    <section class="av_textblock_section" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_textblock ' itemprop="text">
                            <div class="col-12">
                                <h2></h2>
                                <h2>
                                    <strong>
                                        Joining Flex FixesAs A Individual<br />
                                    </strong>
                                </h2>
                                <p>Joining Flex Fixesas a individual professional is super easy. Remember to the bring <strong>tools needed to complete a job</strong> with you when we call. You must have the following documents to do so;</p>
                            </div>
                            <div class="row">
                                <div class="col-lg-8 col-md-8">
                                    <ol>
                                        <li>A valid <strong>CNIC</strong></li>
                                        <li>At least <strong>2 years of working experience</strong></li>
                                        <li>A <strong>Smart Phone</strong> (iOS or Android)</li>
                                        <li>A <strong>Motorcycle</strong>, <strong>Helmet</strong>, and valid <strong>Driving license</strong></li>
                                    </ol>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <div>You need to <strong>submit the front and back of your CNIC</strong> when getting registered. As a person, we need the following traits from you;</div>
                                    <ol>
                                        <li>Must have <strong>NO Criminal History</strong></li>
                                        <li>Must be <strong>Punctual</strong></li>
                                        <li>Must have a <strong>can-do attitude</strong> and can work on <strong>adjustable shifts</strong></li>
                                        <li>Must be more <strong>focused on customer satisfaction</strong></li>
                                    </ol>
                                </div>
                                <div class="col-lg-8 col-md-8">
                                    <h6>Benefits Of Registering :</h6>
                                    <div>Flex Fixescombines all the benefits of working as a service provider in UAE and eliminates the cons. Some of the benefits we offer our registered companies include</div>
                                    <ol>
                                        <li>A fully functional Flex Fixesprofile</li>
                                        <li>Verified and real customers</li>
                                        <li>Flex FixesWebsite &amp; Mobile app</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </main><!-- close content main element --> <!-- section close by builder template -->
    </div><!--end builder template-->
</div><!-- close default .container_wrap element -->						


