<!DOCTYPE html>
<html lang="en-US" class="html_stretched responsive av-preloader-active av-preloader-enabled av-default-lightbox  html_header_top html_logo_left html_main_nav_header html_menu_right html_slim html_header_sticky_disabled html_header_shrinking_disabled html_header_topbar_active html_mobile_menu_tablet html_disabled html_header_searchicon_disabled html_content_align_center html_header_unstick_top_disabled html_header_stretch html_minimal_header html_entry_id_330 av-no-preview ">



<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8" />
    <!-- mobile setting -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Scripts/CSS and wp_head hook -->
    <title>Our Services-Flex Fixes</title>
	<meta name="description" content="We are the team of the best Home Technicians, Plumbers. which are highly dedicated to providing the best and affordable services at your doorstep." >
	<meta name="keywords" content="contact us" >
	<meta property="og:description" content="We are the team of the best Home Technicians, Plumbers. which are highly dedicated to providing the best and affordable services at your doorstep" />
    <!-- Start of Async Callbell Code --
    <script>
        window.callbellSettings = {
            token: "xKXjkFNwHKpt4ZSsjHFbEQjm"
        };
    </script>
    <script>
       // (function () { var w = window; var ic = w.callbell; if (typeof ic === "function") { ic('reattach_activator'); ic('update', callbellSettings); } else { var d = document; var i = function () { i.c(arguments) }; i.q = []; i.c = function (args) { i.q.push(args) }; w.Callbell = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://dash.callbell.eu/include/' + window.callbellSettings.token + '.js'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })()
    </script>
    <!-- End of Async Callbell Code -->
    <!-- This site is optimized with the Yoast SEO plugin v12.7.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
    <link rel="canonical" href="https://www.flexfixes.com/home/servicearea/>
   
    <script type='application/ld+json' class='yoast-schema-graph yoast-schema-graph--main'>
        {"@@context":"https://schema.org","@@graph":[{"@@type":"WebSite","@@id":"http://flexfixes.com/#website","url":"http://flexfixes.com/","name":"Flex Fixes","description":"Repair and Maintenance at your doorstep","potentialAction":{"@@type":"SearchAction","target":"http://flexfixes.com/?s={search_term_string}","query-input":"required name=search_term_string"}},{"@@type":"WebPage","@@id":"http://flexfixes.com/#webpage","url":"http://flexfixes.com/","inLanguage":"en-US","name":"Home - Flex Fixes","isPartOf":{"@@id":"http://flexfixes.com/#website"},"datePublished":"2016-02-29T13:10:37+00:00","dateModified":"2020-07-28T11:50:29+00:00"}]}
    </script>
    <!-- / Yoast SEO plugin. -->
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Flex Fixes &raquo; Feed" >
    <link rel="alternate" type="application/rss+xml" title="Flex Fixes &raquo; Comments Feed"  />
    <link rel="alternate" type="application/rss+xml" title="Flex Fixes &raquo; Home Comments Feed"/>
    <!-- google webfont font replacement -->
    <link rel='stylesheet' id='avia-google-webfont' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' type='text/css' media='all' />
    <script type="text/javascript">
       // window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/flexfixes.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.15" } };
        //!function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='contact-form-7-css' href='/wp-content/plugins/contact-form-7/includes/css/stylesb62d.css?ver=5.1.6' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-grid-css' href='/wp-content/themes/Enfold-updated/css/grid77ae.css?ver=2' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-base-css' href='/wp-content/themes/Enfold-updated/css/base77ae.css?ver=2' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-layout-css' href='/wp-content/themes/Enfold-updated/css/layout77ae.css?ver=2' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-scs-css' href='/wp-content/themes/Enfold-updated/css/shortcodes77ae.css?ver=2' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-popup-css-css' href='/wp-content/themes/Enfold-updated/js/aviapopup/magnific-popup68b3.css?ver=1' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-media-css' href='/wp-content/themes/Enfold-updated/js/mediaelement/skin-1/mediaelementplayer68b3.css?ver=1' type='text/css' media='screen' />
    <link rel='stylesheet' id='avia-print-css' href='/wp-content/themes/Enfold-updated/css/print68b3.css?ver=1' type='text/css' media='print' />
    <link rel='stylesheet' id='avia-dynamic-css' href='/wp-content/uploads/dynamic_avia/enfold1d75.css?ver=5ddcb46cb1168' type='text/css' media='all' />
    <link rel='stylesheet' id='avia-custom-css' href='/wp-content/themes/Enfold-updated/css/custom77ae.css?ver=2' type='text/css' media='all' />
    <script type='text/javascript' src='/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='/wp-content/themes/Enfold-updated/js/avia-compat77ae.js?ver=2'></script>
    <script type='text/javascript'>
        var mejsL10n = { "language": "en", "strings": { "mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/", "mejs.fullscreen-off": "Turn off Fullscreen", "mejs.fullscreen-on": "Go Fullscreen", "mejs.download-video": "Download Video", "mejs.fullscreen": "Fullscreen", "mejs.time-jump-forward": ["Jump forward 1 second", "Jump forward %1 seconds"], "mejs.loop": "Toggle Loop", "mejs.play": "Play", "mejs.pause": "Pause", "mejs.close": "Close", "mejs.time-slider": "Time Slider", "mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.", "mejs.time-skip-back": ["Skip back 1 second", "Skip back %1 seconds"], "mejs.captions-subtitles": "Captions\/Subtitles", "mejs.captions-chapters": "Chapters", "mejs.none": "None", "mejs.mute-toggle": "Mute Toggle", "mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.", "mejs.unmute": "Unmute", "mejs.mute": "Mute", "mejs.volume-slider": "Volume Slider", "mejs.video-player": "Video Player", "mejs.audio-player": "Audio Player", "mejs.ad-skip": "Skip ad", "mejs.ad-skip-info": ["Skip in 1 second", "Skip in %1 seconds"], "mejs.source-chooser": "Source Chooser", "mejs.stop": "Stop", "mejs.speed-rate": "Speed Rate", "mejs.live-broadcast": "Live Broadcast", "mejs.afrikaans": "Afrikaans", "mejs.albanian": "Albanian", "mejs.arabic": "Arabic", "mejs.belarusian": "Belarusian", "mejs.bulgarian": "Bulgarian", "mejs.catalan": "Catalan", "mejs.chinese": "Chinese", "mejs.chinese-simplified": "Chinese (Simplified)", "mejs.chinese-traditional": "Chinese (Traditional)", "mejs.croatian": "Croatian", "mejs.czech": "Czech", "mejs.danish": "Danish", "mejs.dutch": "Dutch", "mejs.english": "English", "mejs.estonian": "Estonian", "mejs.filipino": "Filipino", "mejs.finnish": "Finnish", "mejs.french": "French", "mejs.galician": "Galician", "mejs.german": "German", "mejs.greek": "Greek", "mejs.haitian-creole": "Haitian Creole", "mejs.hebrew": "Hebrew", "mejs.hindi": "Hindi", "mejs.hungarian": "Hungarian", "mejs.icelandic": "Icelandic", "mejs.indonesian": "Indonesian", "mejs.irish": "Irish", "mejs.italian": "Italian", "mejs.japanese": "Japanese", "mejs.korean": "Korean", "mejs.latvian": "Latvian", "mejs.lithuanian": "Lithuanian", "mejs.macedonian": "Macedonian", "mejs.malay": "Malay", "mejs.maltese": "Maltese", "mejs.norwegian": "Norwegian", "mejs.persian": "Persian", "mejs.polish": "Polish", "mejs.portuguese": "Portuguese", "mejs.romanian": "Romanian", "mejs.russian": "Russian", "mejs.serbian": "Serbian", "mejs.slovak": "Slovak", "mejs.slovenian": "Slovenian", "mejs.spanish": "Spanish", "mejs.swahili": "Swahili", "mejs.swedish": "Swedish", "mejs.tagalog": "Tagalog", "mejs.thai": "Thai", "mejs.turkish": "Turkish", "mejs.ukrainian": "Ukrainian", "mejs.vietnamese": "Vietnamese", "mejs.welsh": "Welsh", "mejs.yiddish": "Yiddish" } };
    </script>
    <script type='text/javascript' src='/wp-includes/js/mediaelement/mediaelement-and-player.min45a0.js?ver=4.2.6-78496d1'></script>
    <script type='text/javascript' src='/wp-includes/js/mediaelement/mediaelement-migrate.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/", "classPrefix": "mejs-", "stretching": "responsive" };
/* ]]> */
    </script>
    
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.15" />
    
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed5677.json?url=http%3A%2F%2Fflexfixes.com%2F" />
 
    <meta name="generator" content="Site Kit by Google 1.8.1" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="alternate" type="application/rss+xml" title="Flex Fixes RSS2 Feed" />
    <link rel="pingback" href="xmlrpc.php" />
    <!--[if lt IE 9]><script src="http://flexfixes.com/wp-content/themes/Enfold-updated/js/html5shiv.js"></script><![endif]-->
    <link rel="icon" href="/wp-content/uploads/2018/06/logo-80x80.png" type="image/png">
    
    <script>
        //(adsbygoogle = window.adsbygoogle || []).push({
        //    google_ad_client: "ca-pub-6251136511879677",
        //    enable_page_level_ads: true,
        //    tag_partner: "site_kit"
        //});
    </script>

    <!--
    Debugging Info for Theme support:

    Theme: Enfold
    Version: 4.0.5
    Installed: Enfold-updated
    AviaFramework Version: 4.6
    AviaBuilder Version: 0.9.5
    ML:40-PU:32-PLA:6
    WP:4.9.15
    Updates: disabled
    -->
    <style type='text/css'>
        @@font-face {
            font-family: 'entypo-fontello';
            font-weight: normal;
            font-style: normal;
            src: url('/wp-content/themes/Enfold-updated/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello30f4.eot?v=3');
            src: url('/wp-content/themes/Enfold-updated/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello30f4.eot?v=3#iefix') format('embedded-opentype'), url('/wp-content/themes/Enfold-updated/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello30f4.woff?v=3') format('woff'), url('/wp-content/themes/Enfold-updated/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello30f4.ttf?v=3') format('truetype'), url('/wp-content/themes/Enfold-updated/config-templatebuilder/avia-template-builder/assets/fonts/entypo-fontello30f4.svg?v=3#entypo-fontello') format('svg');
        }

        #top .avia-font-entypo-fontello, body .avia-font-entypo-fontello, html body [data-av_iconfont='entypo-fontello']:before {
            font-family: 'entypo-fontello';
        }

        @@font-face {
            font-family: 'medical';
            font-weight: normal;
            font-style: normal;
            src: url('/wp-content/uploads/avia_fonts/medical/medical.eot');
            src: url('/wp-content/uploads/avia_fonts/medical/medicald41d.eot?#iefix') format('embedded-opentype'), url('/wp-content/uploads/avia_fonts/medical/medical.woff') format('woff'), url('/wp-content/uploads/avia_fonts/medical/medical.ttf') format('truetype'), url('/wp-content/uploads/avia_fonts/medical/medical.svg#medical') format('svg');
        }

        #top .avia-font-medical, body .avia-font-medical, html body [data-av_iconfont='medical']:before {
            font-family: 'medical';
        }
    </style>
    <script data-ad-client="ca-pub-6251136511879677" async src="../pagead2.googlesyndication.com/pagead/js/f.txt"></script>
</head>


<body id="top" class="home page-template-default page page-id-330 stretched open_sans no_sidebar_border" itemscope="itemscope" itemtype="https://schema.org/WebPage">
    <!-- Google Tag Manager -->
    <script>
        //(function (w, d, s, l, i) {
        //    w[l] = w[l] || []; w[l].push({
        //        'gtm.start':
        //        new Date().getTime(), event: 'gtm.js'
        //    }); var f = d.getElementsByTagName(s)[0],
        //        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        //            '../www.googletagmanager.com/gtm5445.html?id=' + i + dl; f.parentNode.insertBefore(j, f);
        //})(window, document, 'script', 'dataLayer', 'GTM-W4JHF9P');
    </script>
    <!-- End Google Tag Manager -->
    <div class='av-siteloader-wrap av-transition-enabled av-transition-with-logo'><div class='av-siteloader-inner'><div class='av-siteloader-cell'><img class='av-preloading-logo' src='/wp-content/uploads/2018/06/logo-80x80.png' alt='Loading' title='Loading' /><div class='av-siteloader'><div class='av-siteloader-extra'></div></div></div></div></div>
    <div id='wrap_all'>

        <header id='header' class='all_colors header_color light_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_slim av_header_sticky_disabled av_header_shrinking_disabled av_header_stretch av_mobile_menu_tablet av_header_searchicon_disabled av_header_unstick_top_disabled av_seperator_big_border av_minimal_header av_bottom_nav_disabled ' role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">

            <a id="advanced_menu_toggle" href="#" aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></a><a id="advanced_menu_hide" href="#" aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></a>		<div id='header_meta' class='container_wrap container_wrap_meta  av_icon_active_main av_secondary_right av_extra_header_active av_phone_active_left av_entry_id_330'>

                <div class='container'>
                    <nav class='sub_menu' role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                        <ul id="avia2-menu" class="menu">
                            <li id="menu-item-1531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1531"><a href="/home/why">Why FlexFix</a></li>
                            <li id="menu-item-1532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1532"><a href="/home/how">How it works</a></li>
                            <li style="display:none;" id="menu-item-1533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1533"><a href="/home/workwithus">Work with us</a></li>
                            <li style="display:none;"  id="menu-item-1092" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1092"><a href="#">Customer Login</a></li>
                            <li style="display:none;"  id="menu-item-1093" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1093"><a href="#">Registration</a></li>
                        </ul>
                    </nav><div class='phone-info with_nav'><span>Customer Service: 00971-561701913</span></div>
                </div>
            </div>

            <div id='header_main' class='container_wrap container_wrap_logo'>

                <div class='container av-logo-container'>
                    <div class='inner-container'>
                        <strong class='logo'><a href='/home'><img height='100' width='300' src='/wp-content/uploads/2018/06/logo-long-fnf-1030x152.png' alt='Flex Fixes' /></a></strong><nav class='main_menu' data-selectname='Select a page' role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                            <div class="avia-menu av-main-nav-wrap av_menu_icon_beside">
                                <ul id="avia-menu" class="menu av-main-nav">
                                    <li id="menu-item-1094" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-330 current_page_item menu-item-top-level menu-item-top-level-1"><a href="/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Home</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-1288" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-top-level menu-item-top-level-2">
                                        <a href="/" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">About</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a>

                                        <ul class="sub-menu">
                                            <li id="menu-item-1574" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/ceomessage" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">CEO Message</span></a></li>
                                            <li id="menu-item-1584" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/mission" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Flex Fixes Mission</span></a></li>
                                            <li id="menu-item-1585" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/vision" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Flex Fixes Vision</span></a></li>
                                        </ul>
                                    </li>
                                    <li style="display:none;" id="menu-item-1287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-3"><a href="/home/brands" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Brand</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li style="display:none;"  id="menu-item-1408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-4"><a href="/home/servicearea" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Service Area</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                                    <li id="menu-item-1239" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-top-level menu-item-top-level-5">
                                        <a href="home/servicearea" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Our Services</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a>

                                        <ul class="sub-menu">
                                            <li style="display:none;" id="menu-item-1594" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/airconditioner" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Air Conditioners</span></a></li>
                                            <li id="menu-item-1274" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/refrigerator" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Refrigerator Repair</span></a></li>
                                            <li id="menu-item-1278" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/washer" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Washer and Dryer Repair</span></a></li>
                                            <li id="menu-item-1763" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/airconditioner" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Air Conditioner Repair</span></a></li>
                                            <li id="menu-item-1802" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/equipmentservice" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Equipment Service</span></a></li>
                                            <li id="menu-item-1273" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/oven" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Oven Repair</span></a></li>
                                            <li id="menu-item-1276" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/stove" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Stove Repair</span></a></li>
                                            <li id="menu-item-1279" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/gym" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Gym Repair</span></a></li>
                                            <li id="menu-item-1270" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/dishwasher" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Dishwasher Repair</span></a></li>
                                            <li id="menu-item-1267" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/TreadMill" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">TreadMill Repair</span></a></li>
                                            <li id="menu-item-1277" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/Elliptical" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Elliptical Repair</span></a></li>
                                            <li id="menu-item-1268" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/uprightbike" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Upright Bike Repair</span></a></li>
                                            <li id="menu-item-1272" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/relocationassembly" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Relocation & Assembly </span></a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-1122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-top-level menu-item-top-level-6">
                                        <a href="/home/contactus" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Contact</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a>

                                        <ul class="sub-menu">
                                            <li id="menu-item-1850" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/home/contactus" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Dubai</span></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div><ul class='noLightbox social_bookmarks icon_count_3'><li class='social_bookmarks_facebook av-social-link-facebook social_icon_1'>
                        <a target='_blank' href='https://www.facebook.com/flex-fixes-102137991830185' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li>
                        <li class='social_bookmarks_instagram av-social-link-instagram social_icon_2'><a target='_blank' href='#' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Instagram'><span class='avia_hidden_link_text'>Instagram</span></a></li>
                        <li class='social_bookmarks_linkedin av-social-link-linkedin social_icon_3'><a target='_blank' href='#' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Linkedin'><span class='avia_hidden_link_text'>Linkedin</span></a></li></ul>
                        </nav>
                    </div>
                </div>
                <!-- end container_wrap-->
            </div>

            <div class='header_bg'></div>

            <!-- end header -->
        </header>












        <div id='main' class='all_colors' data-scroll-offset='0'>

            @RenderBody()


            <div class='container_wrap footer_color' id='footer'>
                <div class='container'>
                    <div class='flex_column av_one_third  first el_before_av_one_third'>
                        <section id="text-3" class="widget clearfix widget_text">
                            <h3 class="widgettitle">Specialized In</h3>			<div class="textwidget">
                                <p>AC Repair &amp; Maintenance</p>
                                <p>Fridge Repair &amp; Maintenance</p>
                                <p>Washing Machine Repair</p>
                                <p>Air Cooler Repair &amp; Maintenance</p>

                                                                                       <p>Gym Equipment Repair &amp; Maintenance</p>
                                                                                       <p>Treadmill Repair &amp; Maintenance</p>
                                                                                       <p>Elliptical Repair &amp; Maintenance</p>
                                                                                       <p>Upright bike Repair &amp; Maintenance</p>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div><div class='flex_column av_one_third  el_after_av_one_third  el_before_av_one_third '>
                        <section id="text-4" class="widget clearfix widget_text">
                            <h3 class="widgettitle">Find Us</h3>			<div class="textwidget">
                                <p>
                                    <strong>info@flexfixes.com</strong><br />
                                   
                                </p>
                               
                                <p><strong>Dubai Office</strong></p>
                                <p>Call / WhatsApp : 00971-561701913</p>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div><div class='flex_column av_one_third  el_after_av_one_third  el_before_av_one_third '>
                        <section id="text-5" class="widget clearfix widget_text">
                            <h3 class="widgettitle">We are !</h3>			<div class="textwidget">
                                <p>Mon-Sun 9:00 AM</p>
                                <p>09:00 PM (7 Days)</p>
                                
                                <p>Terms and Conditions</p>
                            </div>
                            <span class="seperator extralight-border"></span>
                        </section>
                    </div>
                </div>

                <!-- ####### END FOOTER CONTAINER ####### -->
            </div>




            <footer class='container_wrap socket_color' id='socket' role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
                <div class='container'>
                    <span class='copyright'>&copy; Copyright 2021  - <a href='/home/'>Flex Fixes</a> </span>
                    <ul class='noLightbox social_bookmarks icon_count_3'><li class='social_bookmarks_facebook av-social-link-facebook social_icon_1'><a target='_blank' href='https://www.facebook.com/Repair-home-appliances-166636134029056/' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li><li class='social_bookmarks_instagram av-social-link-instagram social_icon_2'><a target='_blank' href='https://www.instagram.com/repairhomeappliances/' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Instagram'><span class='avia_hidden_link_text'>Instagram</span></a></li><li class='social_bookmarks_linkedin av-social-link-linkedin social_icon_3'><a target='_blank' href='https://www.linkedin.com/in/repair-home-appliances-b644ba180/' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Linkedin'><span class='avia_hidden_link_text'>Linkedin</span></a></li></ul>
                </div>
                <!-- ####### END SOCKET CONTAINER ####### -->
            </footer>

            <!-- end main -->
        </div>
		

        <!-- end wrap_all -->
    </div>
    <!--Start of Tawk.to Script (0.3.3)-->
    <script type="text/javascript">
        //var Tawk_API = Tawk_API || {};
        //var Tawk_LoadStart = new Date();
        //(function () {
        //    var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        //    s1.async = true;
        //    s1.src = 'https://embed.tawk.to/5deb46b343be710e1d20fbe6/default';
        //    s1.charset = 'UTF-8';
        //    s1.setAttribute('crossorigin', '*');
        //    s0.parentNode.insertBefore(s1, s0);
        //})();
    </script>
    <!--End of Tawk.to Script (0.3.3)-->
    <script type='text/javascript'>
        /* <![CDATA[ */
        //var avia_framework_globals = avia_framework_globals || {};
        //avia_framework_globals.frameworkUrl = '/wp-content/themes/Enfold-updated/framework/index.html';
        //avia_framework_globals.installedAt = '/wp-content/themes/Enfold-updated/index.html';
        //avia_framework_globals.ajaxurl = '/wp-admin/admin-ajax.html';
/* ]]> */
    </script>

    <script type='text/javascript'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "http:\/\/flexfixes.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" } };
        var AviaDatepickerTranslation = { "closeText": "Close", "currentText": "Today", "nextText": "Next", "prevText": "Prev", "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthNamesShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"], "dateFormat": "dd \/ mm \/ yy HH:mm", "firstDay": "1", "isRTL": "" };
/* ]]> */
    </script>
    <script type='text/javascript' src='/wp-content/plugins/contact-form-7/includes/js/scriptsb62d.js?ver=5.1.6'></script>
        <script type='text/javascript' src='/wp-content/themes/Enfold-updated/js/avia592e.js?ver=3'></script>
        <script type='text/javascript' src='/wp-content/themes/Enfold-updated/js/shortcodes592e.js?ver=3'></script>
        <script type='text/javascript' src='/wp-content/themes/Enfold-updated/js/aviapopup/jquery.magnific-popup.min77ae.js?ver=2'></script>
        <script type='text/javascript' src='/wp-includes/js/mediaelement/wp-mediaelement.minca80.js?ver=4.9.15'></script>
        <script type='text/javascript' src='/wp-includes/js/comment-reply.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='/wp-includes/js/wp-embed.minca80.js?ver=4.9.15'></script>
    <script type='text/javascript' src='/cdn.trustindex.io/loaderca80.js?ver=4.9.15'></script>


    <script type='text/javascript' src='/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='/wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript'>
       // setTimeout(function () { Trustindex.init_pager(jQuery(".ti-widget")) }, 1985)
    </script>
   


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">



    <script type='text/javascript'>
        jQuery(document).ready(function () {
            jQuery(".avia_datepicker").datetimepicker();

            //setTimeout(function () { jQuery('#callbell-iframe').css('display', 'none'); }, 5000);
            
        });
    </script>
    <a href='#top' title='Scroll to top' id='scroll-top-link' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'><span class="avia_hidden_link_text">Scroll to top</span></a>
    @*<div id="fb-root"></div>*@

    <a href="/home/contactus" class="floatbutton">
        <img alt="no" src="~/img/contactus.png" />
    </a>


    <style>
        .floatbutton {
            position: fixed;
            width: 60px;
            height: 200px;
            bottom: 240px;
            right: 5px;
            background-color: #0C9;
            color: #FFF;
            border-radius: 5px;
            text-align: center;
            box-shadow: 2px 2px 3px #999;
            z-index: 10001;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-weight:bold;
            font-size:large;
        }

        .my-float {
            margin-top: 22px;
        }
    </style>

    <script>
        (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-188077292-1', 'auto');
        ga('send', 'pageview');
    </script>


</body>

</html>

















