.elementor-83 .elementor-element.elementor-element-7352473 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-20166cc {
    text-align: left;
}

    .elementor-83 .elementor-element.elementor-element-20166cc.elementor-widget-heading .elementor-heading-title {
        color: #4d4d4d;
    }

    .elementor-83 .elementor-element.elementor-element-20166cc .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 83px;
        letter-spacing: 10px;
    }

    .elementor-83 .elementor-element.elementor-element-20166cc > .elementor-widget-container {
        margin: 0px 0px 0px 035px;
    }

.elementor-83 .elementor-element.elementor-element-86868b4.elementor-widget-heading .elementor-heading-title {
    color: #858f95;
}

.elementor-83 .elementor-element.elementor-element-86868b4 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-86868b4 > .elementor-widget-container {
    margin: 0px 0px 0px 035px;
}

.elementor-83 .elementor-element.elementor-element-481a118.elementor-widget-heading .elementor-heading-title {
    color: #77c1e9;
}

.elementor-83 .elementor-element.elementor-element-481a118 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 52px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-481a118 > .elementor-widget-container {
    margin: 0px 0px 0px 035px;
}

.elementor-83 .elementor-element.elementor-element-5712662 {
    font-family: "Exo", Sans-serif;
    font-size: 17px;
    font-weight: bold;
}

    .elementor-83 .elementor-element.elementor-element-5712662 > .elementor-widget-container {
        margin: 35px 35px 35px 35px;
    }

.elementor-83 .elementor-element.elementor-element-f2a2c47 .elementor-text-editor {
    text-align: justify;
}

.elementor-83 .elementor-element.elementor-element-f2a2c47 {
    font-family: "Exo", Sans-serif;
    font-size: 18px;
}

    .elementor-83 .elementor-element.elementor-element-f2a2c47 > .elementor-widget-container {
        margin: 35px 35px 35px 35px;
    }

.elementor-83 .elementor-element.elementor-element-69d58c3 .elementor-button .elementor-align-icon-right {
    margin-left: 22px;
}

.elementor-83 .elementor-element.elementor-element-69d58c3 .elementor-button .elementor-align-icon-left {
    margin-right: 22px;
}

.elementor-83 .elementor-element.elementor-element-69d58c3 a.elementor-button, .elementor-83 .elementor-element.elementor-element-69d58c3 .elementor-button {
    background-color: rgba(0,0,0,0.52);
    border-radius: 0px 0100px 0px 100px;
}

    .elementor-83 .elementor-element.elementor-element-69d58c3 a.elementor-button:hover, .elementor-83 .elementor-element.elementor-element-69d58c3 .elementor-button:hover {
        color: #ffffff;
        background-color: #6ec1e4;
    }

.elementor-83 .elementor-element.elementor-element-69d58c3 > .elementor-widget-container {
    margin: 35px 35px 35px 35px;
}

.elementor-83 .elementor-element.elementor-element-8ec4263 {
    background-color: #c8cccf;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-83 .elementor-element.elementor-element-8ec4263 > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-83 .elementor-element.elementor-element-66c828d.elementor-widget-heading .elementor-heading-title {
    color: #4d4d4d;
}

.elementor-83 .elementor-element.elementor-element-66c828d .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 40px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-66c828d > .elementor-widget-container {
    margin: 50px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-5ff9a18.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-83 .elementor-element.elementor-element-5ff9a18 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 61px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-8585a36.elementor-widget-heading .elementor-heading-title {
    color: #ffffff;
}

.elementor-83 .elementor-element.elementor-element-8585a36 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 18px;
}

.elementor-83 .elementor-element.elementor-element-770c4ba .elementor-text-editor {
    text-align: justify;
}

.elementor-83 .elementor-element.elementor-element-770c4ba {
    color: #ffffff;
    font-family: "Exo", Sans-serif;
    font-size: 18px;
}

.elementor-83 .elementor-element.elementor-element-e0f6686 .elementor-button .elementor-align-icon-right {
    margin-left: 22px;
}

.elementor-83 .elementor-element.elementor-element-e0f6686 .elementor-button .elementor-align-icon-left {
    margin-right: 22px;
}

.elementor-83 .elementor-element.elementor-element-e0f6686 a.elementor-button, .elementor-83 .elementor-element.elementor-element-e0f6686 .elementor-button {
    color: #ffffff;
    background-color: #4d4d4d;
    border-radius: 0100px 0100px 0px 0px;
}

    .elementor-83 .elementor-element.elementor-element-e0f6686 a.elementor-button:hover, .elementor-83 .elementor-element.elementor-element-e0f6686 .elementor-button:hover {
        color: #fcfcfc;
        background-color: #6ec1e4;
    }

.elementor-83 .elementor-element.elementor-element-330a459 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-83 .elementor-element.elementor-element-330a459 > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-83 .elementor-element.elementor-element-74cf64e .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-b6f4269 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 49px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-b6f4269 > .elementor-widget-container {
    margin: 0px 0px 0px 038px;
}

.elementor-83 .elementor-element.elementor-element-ac58b82.elementor-widget-heading .elementor-heading-title {
    color: #43494c;
}

.elementor-83 .elementor-element.elementor-element-ac58b82 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 68px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-ac58b82 > .elementor-widget-container {
    margin: 0px 0px 0px 038px;
}

.elementor-83 .elementor-element.elementor-element-a85e416.elementor-widget-heading .elementor-heading-title {
    color: #4d4d4d;
}

.elementor-83 .elementor-element.elementor-element-a85e416 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 58px;
}

.elementor-83 .elementor-element.elementor-element-a85e416 > .elementor-widget-container {
    margin: 0px 0px 0px 038px;
}

.elementor-83 .elementor-element.elementor-element-ce3eebc .elementor-text-editor {
    text-align: justify;
}

.elementor-83 .elementor-element.elementor-element-ce3eebc {
    font-family: "Exo", Sans-serif;
    font-size: 18px;
}

    .elementor-83 .elementor-element.elementor-element-ce3eebc > .elementor-widget-container {
        margin: 0px 0px 0px 038px;
    }

.elementor-83 .elementor-element.elementor-element-d6a6fbe {
    font-family: "Exo", Sans-serif;
    font-size: 16px;
    letter-spacing: 2.2px;
}

    .elementor-83 .elementor-element.elementor-element-d6a6fbe > .elementor-widget-container {
        margin: 0px 0px 0px 038px;
    }

.elementor-83 .elementor-element.elementor-element-5c6d26e {
    background-image: url("../../../../test/wp-content/uploads/2019/03/achievement-agreement-arms-1068523.html");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-83 .elementor-element.elementor-element-5c6d26e > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-83 .elementor-element.elementor-element-1bc507c > .elementor-element-populated {
    background-color: #ffffff;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

    .elementor-83 .elementor-element.elementor-element-1bc507c > .elementor-element-populated > .elementor-background-overlay {
        transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    }

.elementor-83 .elementor-element.elementor-element-f3b295d .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-202adda {
    text-align: left;
}

    .elementor-83 .elementor-element.elementor-element-202adda.elementor-widget-heading .elementor-heading-title {
        color: #77c1e9;
    }

    .elementor-83 .elementor-element.elementor-element-202adda .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 53px;
        letter-spacing: 10px;
    }

.elementor-83 .elementor-element.elementor-element-2f39f33.elementor-widget-heading .elementor-heading-title {
    color: #43494c;
}

.elementor-83 .elementor-element.elementor-element-2f39f33 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 53px;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-56d1981.elementor-widget-heading .elementor-heading-title {
    color: #43494c;
}

.elementor-83 .elementor-element.elementor-element-56d1981 .elementor-heading-title {
    font-family: "Exo", Sans-serif;
    font-size: 53px;
    letter-spacing: 9.6px;
}

.elementor-83 .elementor-element.elementor-element-c85d6ff .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-726c84a a.elementor-button, .elementor-83 .elementor-element.elementor-element-726c84a .elementor-button {
    background-color: rgba(67,73,76,0.76);
    border-radius: 80px 0px 080px 0px;
}

    .elementor-83 .elementor-element.elementor-element-726c84a a.elementor-button:hover, .elementor-83 .elementor-element.elementor-element-726c84a .elementor-button:hover {
        background-color: #000000;
    }

.elementor-83 .elementor-element.elementor-element-e0d4df9 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-20c59c4 .elementor-text-editor {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-20c59c4 {
    font-family: "Exo", Sans-serif;
    letter-spacing: 10px;
}

.elementor-83 .elementor-element.elementor-element-54ecede .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-e6cccca > .elementor-element-populated {
    background-image: url("/img/box/2.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-e6cccca:hover > .elementor-element-populated {
    background-image: url("/img/box/3.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-e6cccca > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-a736913 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-c17c5ed {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-c17c5ed.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-c17c5ed .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-019c82c {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-019c82c.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-019c82c .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-55405f5 a.elementor-button, .elementor-83 .elementor-element.elementor-element-55405f5 .elementor-button {
    font-family: "Exo", Sans-serif;
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-55405f5 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-93480fa .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-17cdbb0 > .elementor-element-populated {
    background-image: url("/img/box/21.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 20px;
}

.elementor-83 .elementor-element.elementor-element-17cdbb0:hover > .elementor-element-populated {
    background-image: url("/img/box/5.jpg");
}

.elementor-83 .elementor-element.elementor-element-17cdbb0 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-1f0743f .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-230674c {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-230674c.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-230674c .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
        text-shadow: 0px 0px 70px #000000;
    }

.elementor-83 .elementor-element.elementor-element-22e6503 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-22e6503.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-22e6503 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-6077207 a.elementor-button, .elementor-83 .elementor-element.elementor-element-6077207 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 57px 0px 32px 0px;
}

.elementor-83 .elementor-element.elementor-element-0cb35c3 > .elementor-element-populated {
    background-image: url("/img/box/6.jpg");
    background-position: center center;
    background-size: auto;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-0cb35c3:hover > .elementor-element-populated {
    background-image: url("/img/box/7.jpg");
    background-position: center center;
    background-size: auto;
}

.elementor-83 .elementor-element.elementor-element-0cb35c3 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-6743b79 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-39cf1e1 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-39cf1e1.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-39cf1e1 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-068c870 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-068c870.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-068c870 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-bf3b4e6 a.elementor-button, .elementor-83 .elementor-element.elementor-element-bf3b4e6 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-1a0319b .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-a9ff9b5 > .elementor-element-populated {
    background-image: url("/img/box/8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-a9ff9b5:hover > .elementor-element-populated {
    background-image: url("/img/box/9.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-a9ff9b5 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-54a5164 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-8eda30d {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-8eda30d.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-8eda30d .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-12a64b5 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-12a64b5.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-12a64b5 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-5edff37 a.elementor-button, .elementor-83 .elementor-element.elementor-element-5edff37 .elementor-button {
    color: #ffffff;
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-989b3ac > .elementor-element-populated {
    background-image: url("/img/box/10.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-989b3ac:hover > .elementor-element-populated {
    background-image: url("/img/box/11.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-989b3ac > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-910ff64 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-f3241b0 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-f3241b0.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-f3241b0 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-4ea60b4 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-4ea60b4.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-4ea60b4 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-f915f9b a.elementor-button, .elementor-83 .elementor-element.elementor-element-f915f9b .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-f915f9b > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-e1f7a9a > .elementor-element-populated {
    background-image: url("/img/box/20.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-e1f7a9a:hover > .elementor-element-populated {
    background-image: url("/img/box/13.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-e1f7a9a > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-5fefea0 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-a35ee4c {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-a35ee4c.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-a35ee4c .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-055d079 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-055d079.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-055d079 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-33d8180 a.elementor-button, .elementor-83 .elementor-element.elementor-element-33d8180 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-3b9fb30 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-c51ccc7 > .elementor-element-populated {
    background-image: url("/img/box/14.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-c51ccc7:hover > .elementor-element-populated {
    background-image: url("/img/box/15.jpg");
}

.elementor-83 .elementor-element.elementor-element-c51ccc7 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3ef200a .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-a6c3763 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-a6c3763.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-a6c3763 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-3721b55 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-3721b55.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-3721b55 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-7776f74 a.elementor-button, .elementor-83 .elementor-element.elementor-element-7776f74 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-22327e4 > .elementor-element-populated {
    background-image: url("/img/box/16.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-22327e4:hover > .elementor-element-populated {
    background-image: url("/img/box/17.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-22327e4 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3af30bc .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-ee35db6 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-ee35db6.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-ee35db6 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-ec75224 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-ec75224.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-ec75224 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-8fd4152 a.elementor-button, .elementor-83 .elementor-element.elementor-element-8fd4152 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-464bd74 > .elementor-element-populated {
    background-image: url("/img/box/18.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-464bd74:hover > .elementor-element-populated {
    background-image: url("/img/box/19.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-464bd74 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-8f1c984 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-dfa5495 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-dfa5495.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-dfa5495 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-8bc16e5 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-8bc16e5.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-8bc16e5 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-8aed418 a.elementor-button, .elementor-83 .elementor-element.elementor-element-8aed418 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-2ae619d .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-78d4592 > .elementor-element-populated {
    background-image: url("../../2019/03/2col_lg_pens_n_pencils_on_stacks_of_paper.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-78d4592:hover > .elementor-element-populated {
    background-image: url("../../2019/03/2col_lg_pens_n_pencils_on_stacks_of_papr.jpg");
}

.elementor-83 .elementor-element.elementor-element-78d4592 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-6ab21e6 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-9a5879d {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-9a5879d.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-9a5879d .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-ef012fc {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-ef012fc.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-ef012fc .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-fd4f49c a.elementor-button, .elementor-83 .elementor-element.elementor-element-fd4f49c .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-faf01e8 > .elementor-element-populated {
    background-image: url("../../2019/03/cctv-solution.png");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-faf01e8:hover > .elementor-element-populated {
    background-image: url("../../2019/03/z.png");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-faf01e8 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-e8da327 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-7c27adb {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-7c27adb.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-7c27adb .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-d3a8022 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-d3a8022.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-d3a8022 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-db18868 a.elementor-button, .elementor-83 .elementor-element.elementor-element-db18868 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-8bffc81 > .elementor-element-populated {
    background-image: url("../../2019/03/e5_B_final.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-8bffc81:hover > .elementor-element-populated {
    background-image: url("../../2019/03/download-1s.jpg");
}

.elementor-83 .elementor-element.elementor-element-8bffc81 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-02237cd .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-1147558 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-1147558.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-1147558 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-ee22b77 a.elementor-button, .elementor-83 .elementor-element.elementor-element-ee22b77 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-7dec898 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-410302c > .elementor-element-populated {
    background-image: url("../../2019/03/birthday-balloons.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-410302c:hover > .elementor-element-populated {
    background-image: url("../../2019/03/ss.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-410302c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-e238faa .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-be5a8b4 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-be5a8b4.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-be5a8b4 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-fac6cdd {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-fac6cdd.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-fac6cdd .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-1ed99ab a.elementor-button, .elementor-83 .elementor-element.elementor-element-1ed99ab .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-84b5033 > .elementor-element-populated {
    background-image: url("../../2019/03/event-saving.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-84b5033:hover > .elementor-element-populated {
    background-image: url("../../2019/03/event-savingss.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-84b5033 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-b4f3255 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-a1f9c86 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-a1f9c86.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-a1f9c86 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-9651998 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-9651998.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-9651998 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-4c2b07d a.elementor-button, .elementor-83 .elementor-element.elementor-element-4c2b07d .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-013f958 > .elementor-element-populated {
    background-image: url("../../2019/03/1-4.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-013f958:hover > .elementor-element-populated {
    background-image: url("../../2019/03/1a.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-013f958 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3033414 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-182bd7a {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-182bd7a.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-182bd7a .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-379ee98 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-379ee98.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-379ee98 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-ee99930 a.elementor-button, .elementor-83 .elementor-element.elementor-element-ee99930 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-70d2555 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-d4bf3dc > .elementor-element-populated {
    background-image: url("../../2019/03/print_design_header_image.jpg");
    background-position: center center;
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-d4bf3dc:hover > .elementor-element-populated {
    background-image: url("../../2019/03/print_design_header_imagex.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-d4bf3dc > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-3ed191c .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-66fa004 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-66fa004.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-66fa004 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-c99fbeb {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-c99fbeb.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-c99fbeb .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-731e243 a.elementor-button, .elementor-83 .elementor-element.elementor-element-731e243 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-8ce6703 > .elementor-element-populated {
    background-image: url("../../2019/03/Data-Backup.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-8ce6703:hover > .elementor-element-populated {
    background-image: url("../../2019/03/Data-Backups.jpg");
}

.elementor-83 .elementor-element.elementor-element-8ce6703 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-5a80707 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-879769e {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-879769e.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-879769e .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-93aedc9 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-93aedc9.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-93aedc9 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-9c933b0 a.elementor-button, .elementor-83 .elementor-element.elementor-element-9c933b0 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-e2dc257 > .elementor-element-populated {
    background-image: url("../../2019/03/download-1.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-e2dc257:hover > .elementor-element-populated {
    background-image: url("../../2019/03/download-1s.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-e2dc257 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-e365ab3 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-5844f8a {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-5844f8a.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-5844f8a .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-b476fc8 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-b476fc8.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-b476fc8 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-543acaf a.elementor-button, .elementor-83 .elementor-element.elementor-element-543acaf .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-723ad8a .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-6370c17 > .elementor-element-populated {
    background-image: url("../../2019/03/7-tips-for-training-call-center-agents-effectively.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-83 .elementor-element.elementor-element-6370c17:hover > .elementor-element-populated {
    background-image: url("../../2019/03/7-tips-for-training-call-center-agents-effectivelya.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-6370c17 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-40fc954 .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-d4204c0 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-d4204c0.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-d4204c0 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-3f2c94e {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-3f2c94e.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-3f2c94e .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-982eae7 a.elementor-button, .elementor-83 .elementor-element.elementor-element-982eae7 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 37px 0px;
}

.elementor-83 .elementor-element.elementor-element-42e2311 > .elementor-element-populated {
    background-image: url("../../2019/03/daikin-air-conditioning-solutions-plaza-porur-chennai-ac-dealers-ba5kj.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-42e2311:hover > .elementor-element-populated {
    background-image: url("../../2019/03/daikin-air-conditioning-solutions-plaza-porur-chennai-ac-dealers-ba5kjs.jpg");
}

.elementor-83 .elementor-element.elementor-element-42e2311 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-292ebfb .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-ff6b623 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-ff6b623.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-ff6b623 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-6284dce {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-6284dce.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-6284dce .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-04493e6 a.elementor-button, .elementor-83 .elementor-element.elementor-element-04493e6 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

.elementor-83 .elementor-element.elementor-element-f39be9a > .elementor-element-populated {
    background-image: url("../../2019/03/environmental-protection-326923_960_720.jpg");
    background-size: cover;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 020px;
}

.elementor-83 .elementor-element.elementor-element-f39be9a:hover > .elementor-element-populated {
    background-image: url("../../2019/03/environmental-protection-326923_960_720s.jpg");
    background-size: cover;
}

.elementor-83 .elementor-element.elementor-element-f39be9a > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-5ace54e .elementor-spacer-inner {
    height: 50px;
}

.elementor-83 .elementor-element.elementor-element-2509a55 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-2509a55.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-2509a55 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-097b308 {
    text-align: center;
}

    .elementor-83 .elementor-element.elementor-element-097b308.elementor-widget-heading .elementor-heading-title {
        color: #ffffff;
    }

    .elementor-83 .elementor-element.elementor-element-097b308 .elementor-heading-title {
        font-family: "Exo", Sans-serif;
        font-size: 37px;
    }

.elementor-83 .elementor-element.elementor-element-00f4f28 a.elementor-button, .elementor-83 .elementor-element.elementor-element-00f4f28 .elementor-button {
    background-color: #7ac2ea;
    border-radius: 052px 0px 037px 0px;
}

@media(min-width:1025px) {
    .elementor-83 .elementor-element.elementor-element-5c6d26e {
        background-attachment: fixed;
    }
}

@media(max-width:1024px) {
    .elementor-83 .elementor-element.elementor-element-20166cc .elementor-heading-title {
        letter-spacing: 10px;
    }
}

@media(max-width:767px) {
    .elementor-83 .elementor-element.elementor-element-20166cc .elementor-heading-title {
        letter-spacing: 10px;
    }
}
